@media (max-width: 1200px){
   
   .header__main-list-item:not(:last-child) {
      margin: 0px 35px 0px 0px;
   }
  .header__main-menu {
   margin-left: 80px;
   }

   .content-blocks {
      display: flex;
      flex-wrap: wrap;
      width: 400px;
   }
   .content-blocks__block-two {
      margin-top: 20px;
   }
  .content-blocks__block-three {
      margin-top: 20px;
   }
   .section__video__wrap {
      flex-wrap: wrap-reverse; 
      padding-top: 140px;
   }
  .section__video img {
      width: 676px;
      height: 387px;
      margin-bottom: 30px;
   }
   .title__video {
      font-size: 40px;
      line-height: 45px;
   }
   .text__video {
      font-size: 25px;
      line-height: 157%;
      margin-bottom: 37px;
   }
   .button_video {
      max-width: 187px;
      padding: 10px 20px;  
  }
  .button-video-img {
      width: 65px;
      height: 65px;
      top: 23%;
   }

   .section__products-content {
      max-width: 390px;
      margin-left: 0px;
   }
   .section__products {
      justify-content: space-around;
   }

   .product__text {
      font-size: 20px;
      line-height: 157%;
   }
  .product__title {
   font-size: 30px;
   line-height: 157%;
   }
   .product__desc {
      font-size: 18px;
      margin: 10px 0px;
      line-height: 25px;
   }
  .product__button {
   padding: 10px 15px;
   font-size: 15px;
   }
   .section__products-image img {
     width: 350px;
     height: 316px; 
   }
   .section__products-card {
     width: 174px;
     height: 170px;
     transform: translate(80px,-290px);
   }

  .footer__link--logo {
   font-size: 30px;
   line-height: 20px; 
   }
   .footer__link {
      font-size: 20px;
      line-height: 10px;
   }
   .footer__item:not(:last-child) {
      margin-bottom: 50px;
  }
  .footer__wrapper {
   height: 454px;
}
   
}

@media (max-width: 1199px){
  
}

@media (max-width: 991px){
  
   .header__main-list-item:not(:last-child) {
      margin: 0px 15px 0px 0px;
   }
   .header__main-menu {
      margin-left: 25px;
      }
   .header__button {
      max-width: 187px;
      margin-left: 10px;
      padding: 10px 20px;     
   }
}
@media (max-width: 768px){
  
   .header__main-menu {
      display: none;
   }
      .header__menu {
      margin-left: auto;
   }  
   .burger__menu {
      display: block;
   }
   .header__button { 
      margin-left: 20px;
   }

   .text__desc {
      margin-left: 15px;
   }

   .section__products {
      flex-wrap: wrap;
  }
  .section__products-content {
     margin-top: 100px;
  }
  .section__products-card {
   transform: translate(170px,-650px);
   }

   .footer__link--logo {
      font-size: 20px;
      line-height: 10px; 
      }
      .footer__link {
         font-size: 15px;
         line-height: 10px;
      }
      .footer__item:not(:last-child) {
         margin-bottom: 30px;
     }
     .footer__wrapper {
      height: 300px;
      }
   .footer__nav {
      padding-top: 50px;
   }
}

@media (max-width: 575px){
   .burger__dropdown img {
      width: 25px;
      height: 25px;
   }

   .header__link {
      font-size: 15px;  
   }
  .header__button {
   font-size: 15px;
   padding: 1px 5px;
   }
   .title {
      font-size: 40px;
      line-height: 45px;
   }
   .text {
      margin-bottom: 20px;
      font-size: 15px;
      line-height: 25px;
   }
   .content__button {
      width: 150px;
      padding: 10px 20px;
      font-size: 15px;
   }
   .main-section__top--flex {
      display: flex;
      flex-wrap: wrap;
   }
   .text__desc {
      margin-left: 0;
      margin-top: 18px;
   }

  .block__numbers {
      font-size: 130px;
      line-height: 150%;
   
   }
  .block__title {
      font-size: 25px;
      padding-right: 60px;
      margin-top: -80px;
   }
  .block__subtitle {
      font-size: 15px;
      line-height: 25px;
      margin: 18px 0px 60px 0px;
   }
   .block__image img{
      width: 290px;
      height: 392px;
   }
  .content-blocks {
   width: 290px;
   }
   .block__numbers--align {
      margin-left: 0;
   }
   .block__image-thumb img {
      margin-top: -216px;
      margin-left: 153px;
      width: 137px;
      height: 107px;
   }
   .main-section__video {
      height: 722px;
   }

   .section__video img {
      width: 276px;
      height: 167px;
      margin-bottom: 30px;
   }
   .section__video-content {
      margin-right: 0;
      margin-left: 15px;
   }
   .section__video {
      margin-left: 0;
   }
   .title__video {
      font-size: 25px;
      line-height: 35px;
   }
   .text__video {
      font-size: 15px;
      line-height: 157%;
      margin-bottom: 37px;
   }
   .button_video {
      max-width: 187px;
      padding: 5px 10px; 
      font-size: 15px; 
   }
  .button-video-img {
      width: 25px;
      height: 25px;
      top: 18%;
   }

   .product__title {
      font-size: 28px;
      line-height: 150%;
   }
  .section__products-content {
   max-width: 380px;
   }
   .section__products-card {
      transform: translate(10px,-660px);
   } 
}

@media (max-width: 575px){
   .section__products-image img {
      width: 250px;
      height: 216px; 
    }
   .section__products-card {
      width: 134px;
      height: 130px;
      transform: translate(45px,-580px);
   } 
   .product__text {
      font-size: 15px;
      line-height: 148%;
   }
  .product__title {
   font-size: 22px;
   line-height: 145%;
   }
   .product__desc {
      font-size: 15px;
      margin: 10px 0px;
      line-height: 25px;
   }
  .product__button {
   display: inline;
   padding: 10px 15px;
   font-size: 12px;
   }
   .section__products-content {
      max-width: 290px;
   }
}
@media (max-width: 425px){
   .section__products-card {
      transform: translate(50px,-610px);
   } 
}
@media (max-width: 375px){
   .section__products-card {
      transform: translate(25px,-610px);
   } 
}

@media (max-width: 320px){
   .section__products-card {
      transform: translate(0px,-610px);
   } 
}



