footer {  
   background: #245852;
}

.footer__wrapper {
   height: 654px;  
}

.footer__item:not(:last-child) {
      margin-bottom: 60px;
} 

.footer__nav {
   padding-top: 95px;
}
.footer__link--logo {
   font-family: 'Avenir-Black';
   font-style: normal;
   font-weight: 900;
   font-size: 40px;
   line-height: 55px;
   color: #FFFFFF;
}

.footer__link {
   font-family: Lato;
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 30px;
   color: #FFFFFF;
}