@font-face {
	font-family: 'Lato-Semibold';
	src: url('../fonts/Lato-Semibold.eot');
	src: local('☺'), url('../fonts/Lato-Semibold.woff') format('woff'), url('../fonts/Lato-Semibold.ttf') format('truetype'), url('../fonts/Lato-Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Medium';
	src: url('../fonts/Lato-Medium.eot');
	src: local('☺'), url('../fonts/Lato-Medium.woff') format('woff'), url('../fonts/Lato-Medium.ttf') format('truetype'), url('../fonts/Lato-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'georgia-regular';
	src: url('../fonts/georgia.eot');
	src: local('☺'), url('../fonts/georgia.woff') format('woff'), url('../fonts/georgia.ttf') format('truetype'), url('../fonts/georgia.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'georgiab';
	src: url('../fonts/georgiab.eot');
	src: local('☺'), url('../fonts/georgiab.woff') format('woff'), url('../fonts/georgiab.ttf') format('truetype'), url('../fonts/georgiab.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir-Black';
	src: url('fonts/Avenir-Black.eot');
	src: local('☺'), url('../fonts/Avenir-Black.woff') format('woff'), url('../fonts/Avenir-Black.ttf') format('truetype'), url('../fonts/Avenir-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
*{
   padding: 0;
   margin: 0;
   border: 0;
}
*,*:before,*:after{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,:active{
   outline: none;
}
a:focus,a:active,a:hover{
   color: #01996D;
   text-decoration: underline;
   
}

html,body{
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 20px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;  
   
}

input,button,textarea{
font-family: inherit;
}
input::-ms-clear{
   display: none;
}
button{
   cursor: pointer;
}
button::-moz-focus-inner{
   padding: 0;
   border: 0;
}

a{
   text-decoration: none;

}
ul li{
   list-style: none;
}
h1,h2,h3,h4,h5,h6{
   font-size:inherit;
   font-weight: 400;
}
/*<------------------------------Ограничивающий контейнер--------------------------------------------->*/
.wrapper {
   min-width: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
content {
   flex: 1 1 auto;
}
.container {
   max-width: 1415px;
   margin: 0px auto;
   padding: 0px 15px; 
}
@media (max-width:1415px){
   .container{
      max-width: 970px;
   }
}
@media (max-width:992px){
   .container{
      max-width: 750px;
   }
}
@media (max-width:767px){
   .container{
      max-width: none;
   }
}


/*<------------------------------header__top--------------------------------------------->*/
.logo {
   position: absolute;
   display: inline-block;
}
.logo__dropdown {
   background: none;
}
.logo__dropdown-content {
   display: none;
   position: absolute;
   background-color: #ffffff;
   min-width: 130px;
   box-shadow: 0.2em 0.2em 7px rgb(1,153,109);
}
.logo__link {
   color: #000000;
   font-family: 'Lato-Medium';
   font-weight: 500;
   padding: 12px;
   display: block;
}
.logo__link:hover {background-color: rgb(233, 232, 232);}
.logo:hover .logo__dropdown-content {display: block;}


.header__top {
   min-height: 86px;
   display: flex;
   align-items: center;   
}

.header__main-menu {
   margin-left: 172px;
}

.header__main-list {
   display: flex;
   align-items: center;
}

.header__main-list-item:not(:last-child) {
   margin: 0px 72px 0px 0px;
} 
.header__link {
   font-family: 'Lato-Medium';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   color: #292929;
}
.header__link--black {
   color: #000000;
   font-family: Lato;
   font-weight: 400;
}
.button {
   background: #01996D;
   box-sizing: border-box;
   border-radius: 4px;
   color: #ffffff;
   font-family: Lato;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 25px;
   text-align: center; 
}
.button:focus,.button:active,.button:hover{
   color: rgb(255, 255, 255);
   text-decoration: underline;
   text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 255, 255);
}
.header__button {
   margin-left: 35px;
   padding: 13px 50px;
   
}
.header__menu {
   margin-left: 283px;
}
.header__list {
   display: flex;
   align-items: center; 
}
/*<------------------------------header__content--------------------------------------------->*/
.header__image {
   background-image: url(../img/BG.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
}


.header__content {
   padding-top: 175px;
   max-width: 440px;
}
.title {
   font-family: Georgia;
   font-style: normal;
   font-weight: 700;
   font-size: 65px;
   line-height: 74px;
   color: #01996D;  
}
.content__title {
   margin-bottom: 30px;
}
.content__text {
   margin-bottom: 60px;
}
.text {
   font-family: Lato;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 31px;
   color: #484848;
}
.content__button {
   padding: 20px 50px;
  
}

/*.header__image img {
   margin: 0px auto;
   position: absolute;
   width: 100%;
   

   object-fit: cover;
      
} */
