/*<------------------------------main__top--------------------------------------------->*/

.main-section {
   margin-top: 170px;
   margin-bottom: 50px;
}

.text__title {
   font-weight: 600;
   font-size: 24px;
   line-height: 157%;
   color: #424242;
}
.title__slogan{
   width: 584px;
   font-size: 50px;
   line-height: 157%;
}
.text__desc {
   margin-top: 18px;
   width: 670px;
   font-weight: 500;
   line-height: 150%;
   color: #424242;
}
.main-section__top--flex {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
/*<------------------------------main__content--------------------------------------------->*/
.block__numbers {
   font-family: Georgia;
   font-style: normal;
   font-weight: 400;
   font-size: 150px;
   line-height: 150%;
   color: rgba(1, 153, 109, 0.2);
}
.block__title {
   font-family: Georgia;
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 150%;
   text-align: center;
   color: #000000;
   margin-top: -92px;
   padding-right: 30px;
}
.block__subtitle {
   font-family: Lato;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 150%;
   color: #424242;
   margin: 55px 0px 60px 0px;

}
.block__image-thumb img {
   position: absolute;
   margin-top: -271px;
   margin-left: 205px;
   border-radius: 4px 0px 0px 4px;
}
.content-blocks {
   /*position: absolute;*/
   display: grid;
   grid-template-columns: 390px 392px 441px;
   grid-column-gap: 95px;
}
.content-blocks__block-one {
   margin-top: 81px;
}
.content-blocks__block-two {
   margin-top: 350px;
}
.block__title--align {
   text-align: right;
}
.content-blocks__block-three {
   margin-top: 190px;
}
.block__numbers--align{
   margin-left: 30px;
}